<h1>Login</h1>

<% if flash.keys.include? 'alert' %>
  <%= flash[:alert] %><br>
<% end %>

<%= form_tag 'login', method: :post %>
  <%= label_tag 'Name' %><br>
  <%= text_field_tag 'name' %><br><br>

  <%= label_tag 'Password' %><br>
  <%= text_field_tag 'password' %><br><br>

  <%= submit 'Signup'%>
<% end %>
